/*
Kelsey Legault
April 2016
Animations
 */

/*Fade In */
@-webkit-keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}
@keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}

/*Slide Left */
@-webkit-keyframes slideLeft {
    100%  {-webkit-transform: translateX(20px);}
}
@-moz-keyframes slideLeft {
    100%  {-moz-transform: translateX(20px);}
}
@keyframes slideLeft {
    100%  {transform: translateX(20px);}
}

/*Fade In Slide Left */
@-webkit-keyframes fadeInSlideLeft {
    100%  {-webkit-transform: translateX(10px);}
}
@-moz-keyframes fadeInSlideLeft {
    100%  {-moz-transform: translateX(10px);}
}
@keyframes fadeInSlideLeft {
    0% {opacity: 0;}
    100%  {transform: translateX(20px);}
}

/*Fade In Slide Right */
@-webkit-keyframes fadeInSlideRight {
    100%  {-webkit-transform: translateX(10px);}
}
@-moz-keyframes fadeInSlideRight {
    100%  {-moz-transform: translateX(10px);}
}
@keyframes fadeInSlideRight {
    0% {opacity: 0;}
    100%  {transform: translateX(-20px);}
}

/*Fade In Slide Down */
@-webkit-keyframes fadeInSlideDown {
    100%  {-webkit-transform: translateY(60px);}
}
@-moz-keyframes fadeInSlideDown {
    100%  {-moz-transform: translateY(60px);}
}
@keyframes fadeInSlideDown {
    0% {opacity: 0;}
    100%  {transform: translateY(60px);}
}

/*Slide Right */
@-webkit-keyframes slideRight {
    0%  {-webkit-transform: translateX(10px);}
}
@-moz-keyframes slideRight {
    0%  {-moz-transform: translateX(10px);}
}
@keyframes slideRight {
    0%  {transform: translateX(10px);}
}

/*Slide Down */
@-webkit-keyframes slideUpAndDown {
    0%  {-webkit-transform: translateY(-7px);}
    50%  {-webkit-transform: translateY(7px);}
    100%  {-webkit-transform: translateY(-7px);}
}
@-moz-keyframes slideUpAndDown {
    0%  {-moz-transform: translateY(-7px);}
    50%  {-webkit-transform: translateY(7px);}
    100%  {-webkit-transform: translateY(-7px);}
}
@keyframes slideUpAndDown {
    0%  {transform: translateY(-7px);}
    50%  {-webkit-transform: translateY(7px);}
    100%  {-webkit-transform: translateY(-7px);}
}

/*Small Slide Left */
@-webkit-keyframes slideLeftSm {
    100%  {-webkit-transform: translateX(5px);}
}
@-moz-keyframes slideLeftSm {
    100%  {-moz-transform: translateX(5px);}
}
@keyframes slideLeftSm {
    100%  {transform: translateX(5px);}
}

/*Small Slide Right */
@-webkit-keyframes slideRightSm {
    0%  {-webkit-transform: translateX(5px);}
}
@-moz-keyframes slideRightSm {
    0%  {-moz-transform: translateX(5px);}
}
@keyframes slideRightSm {
    0%  {transform: translateX(5px);}
}

/*Sway */
@-webkit-keyframes slideRightSm {
    0%  {-webkit-transform: translateX(5px);}
}
@-moz-keyframes slideRightSm {
    0%  {-moz-transform: translateX(5px);}
}
@keyframes slideRightSm {
    0%  {transform: translateX(5px);}
}
