/*
Kelsey Legault
April 2016
 */

/* Animations ----------------------------------- */

/*Simple Fade In Animation*/
@-webkit-keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}
@keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}

/*Simple Slide Left Animation*/
@-webkit-keyframes slideLeft {
    100%  {-webkit-transform: translateX(10px);}
}
@-moz-keyframes slideLeft {
    100%  {-moz-transform: translateX(10px);}
}
@keyframes slideLeft {
    100%  {transform: translateX(10px);}
}

/*Simple Slide Right Animation*/
@-webkit-keyframes slideRight {
    0%  {-webkit-transform: translateX(10px);}
}
@-moz-keyframes slideRight {
    0%  {-moz-transform: translateX(10px);}
}
@keyframes slideRight {
    0%  {transform: translateX(10px);}
}

/*Simple Slide Down Animation*/
@-webkit-keyframes slideUpAndDown {
    0%  {-webkit-transform: translateY(-7px);}
    50%  {-webkit-transform: translateY(7px);}
    100%  {-webkit-transform: translateY(-7px);}
}
@-moz-keyframes slideUpAndDown {
    0%  {-moz-transform: translateY(-7px);}
    50%  {-webkit-transform: translateY(7px);}
    100%  {-webkit-transform: translateY(-7px);}
}
@keyframes slideUpAndDown {
    0%  {transform: translateY(-7px);}
    50%  {-webkit-transform: translateY(7px);}
    100%  {-webkit-transform: translateY(-7px);}
}

/* Simple Small Slide Left Animation*/
@-webkit-keyframes slideLeftSm {
    100%  {-webkit-transform: translateX(5px);}
}
@-moz-keyframes slideLeftSm {
    100%  {-moz-transform: translateX(5px);}
}
@keyframes slideLeftSm {
    100%  {transform: translateX(5px);}
}

/*Simple Small Slide Right Animation*/
@-webkit-keyframes slideRightSm {
    0%  {-webkit-transform: translateX(5px);}
}
@-moz-keyframes slideRightSm {
    0%  {-moz-transform: translateX(5px);}
}
@keyframes slideRightSm {
    0%  {transform: translateX(5px);}
}
