/*
Kelsey Legault
April 2016
 */

/* Animations ----------------------------------- */

/*Greyscale Animation*/
@-webkit-keyframes grayscale {
    0%    { -webkit-filter: grayscale(0%); }
    30%   { -webkit-filter: grayscale(100%);}
}
@-moz-keyframes grayscale {
    0%    { -webkit-filter: grayscale(0%);  }
    30%   { -webkit-filter: grayscale(100%);}
}
@keyframes grayscale {
    0%    { -webkit-filter: grayscale(0%); }
    30%   { -webkit-filter: grayscale(100%);}
}
