* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

/* Typography ----------------------------------- */

body {
    font-family: "Inconsolata", "Helvetica Neue", sans-serif;
}

h1 {
    font-family: "heading", "Helvectica Neue", serif;
    font-size: 40px;
}

p {
    font-size: 14px;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

i {
    width: 17px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    margin-left: 30px;
    float: right;
    top: 1px;
    position: relative;
}

.hero-container h1 {
    opacity: 0;
    font-size: 40px;
    max-width: 300px;
    display: inline-block;
    padding: 0 8px 4px 8px;
    margin-top: 100px;
    animation: fadeIn 2s forwards;
    animation-delay: 0.1s;
}

.hero-paragraph {
    opacity: 0;
    font-size: 15px;
    display: block;
    line-height: 1.9;
    margin: 40px auto;
    max-width: 310px;
    padding: 3px 0 3px 8px;
    animation: fadeIn 0.8s forwards;
    animation-delay: 0.5s;
}

@media (min-width: 500px) {
    .hero-paragraph {
        max-width: 450px;
    }
    .hero-container h1 {
        max-width: none;
        margin-top: 21vh;
    }
}

@media (min-width: 750px) {
    h1 {
        font-size: 53px !important;
    }
    .hero-paragraph {
        max-width: 500px;
    }
}

@media (min-width: 1000px) {
    .hero-paragraph {
        margin: 40px auto 0 58%;
        text-align: left;
    }
    h1 {
        font-size: 63px !important;
    }
    .hero-paragraph {
        max-width: 310px;
    }
}

/* Layout ----------------------------------- */

.outer-container {
    margin: 0 auto;
}

.hero-container {
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
}

header {
    opacity: 0;
    padding: 50px 0 0 0;
    animation: fadeIn 1s forwards;
}

@media (min-width: 1000px) {
    header {
        padding: 50px 0 0 70px;
        animation: fadeInSlideLeft 5s forwards;
    }
    header p {
        text-align: left;
    }
}

/* Hero Images ----------------------------------- */

.hero-left-rectangle {
    background-color: #CAE6E0;
    position: absolute;
    top: 0;
    left: -20px;
    height: 100vh;
    width: 50vw;
    z-index: -99;
    display: none;
    animation: slideLeft 2s forwards;
}

.left-hero-square {
    width: 300px;
    opacity: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 780px;
    left: 0;
    z-index: -1;
    display: none;
    animation: fadeInSlideLeft 0.4s forwards;
    animation-delay: 0.8s;
}

.fern,
.center-hero-square {
    opacity: 0;
    position: absolute;
    margin: auto;
    top: 260px;
    bottom: 0;
    right: 160px;
    left: 0;
    z-index: -1;
    display: none;
    animation: fadeInSlideLeft 0.8s forwards;
    animation-delay: 1s;
}

.center-hero-square {
    width: 300px;
    top: 360px;
    right: 410px;
    animation-delay: 0.5s;
}

.computersquare {
    opacity: 0;
    position: absolute;
    margin: auto;
    top: 30px;
    right: -530px;
    left: 0;
    z-index: -1;
    display: none;
    animation: fadeInSlideRight 0.8s forwards;
    animation-delay: 1s;
}

.computersquare {
    top: 190px;
    right: -740px;
    animation-delay: 0.5s;
}

.lamp {
    opacity: 0;
    max-width: 230px;
    position: absolute;
    margin: auto;
    top: -120px;
    left: 0;
    right: 0;
    display: none;
    animation: fadeInSlideDown 1.5s forwards;
    animation-delay: 0.3s;
}

.hero-container figure {
    position: relative;
    opacity: 0;
    animation: fadeInSlideDown 1s forwards;
    animation-delay: 1.2s;
    bottom: 30px;
}

.arrow-image {
    width: 20px;
    animation: slideUpAndDown infinite 3s;
}

@media(min-width: 1000px) {
    .computersquare,
    .right-hero-square,
    .fern,
    .center-hero-square,
    .left-hero-square,
    .hero-left-rectangle {
        display: inline-block !important;
    }
    .hero-container figure {
        top: 30px;
        left: 185px;
        animation-delay: 2s;
    }
    .arrow-image {
        width: 30px;
    }
}

@media (min-height: 815px) {
    .hero-container h1 {
        margin-top: 28vh;
    }
    .computersquare {
        top: 90px;
    }
    .right-hero-square {
        top: 270px;
    }
    .lamp {
        top: -70px;
    }
}

/*@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

}*/

/* Work Section ----------------------------------- */
.work-items-container {
    animation: fadeIn 1.5s forwards;
}

.work-items-container h1 {
    padding-top: 100px;
    padding-bottom: 35px;
    text-align: center;
}

.work-items-container ul {
    margin-bottom: 100px;
}

.work-items-container a {
    display: block;
    transition: 0.2s;
}

.work-items-container li {
    font-size: 14px;
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 900px;
    list-style: none;
}

.work-items-container i {
    float: none;
    margin-left: 2px;
    background-size: 15px;
    width: 20px;
    display: inline-block;
}

.work-items-container a:hover {
    background-color: #EEE;
    transition: 0.2s;
}

.work-items-container span  {
    display: block;
    text-align: center;
}

.work-items-container li span:nth-child(2n) {
    display: none;
    position: relative;
    top: 1px;
    margin-left: 10px;
    padding-right: 50px;
    animation: slideLeftXsm 0.2s forwards;
}

.work-items-container li span:nth-child(3n) {
    margin-top: 10px;
}

.work-items-container-second-span-hover {
    display: none;
    animation: slideLeft 0.8s forwards;
}

@media (min-width: 550px) {
    .work-items-container li {
        font-size: 16px;
    }
    .work-items-container-second-span-hover {
        display: inline-block !important;
    }
    .work-items-container span  {
        display: inline-block;
    }
    .work-items-container li span:nth-child(3n) {
        float: right;
    }
    .work-items-container i {
        float: right;
        margin-left: 30px;
    }
    .work-items-container li span:nth-child(3n) {
        margin-top: 0;
    }
}

/* Footer ----------------------------------- */

footer {
    display: block;
    height: 203px;
    position: relative;
    animation: fadeIn 1.5s forwards;
    font-size: 14px;
}

footer li {
    font-size: 14px;
}

.footer-image {
    position: relative;
    display: none;
    z-index: 99;
    bottom: -4px;
}

@media (min-width: 550px) {
    footer,
    footer li {
        font-size: 16px;
    }
}

@media (min-width: 750px) {
    .footer-image {
        left: 32%;
    }
}

@media (min-width: 1000px) {
    .footer-image {
        left: 35%;
        display: inline-block;
    }
}

@media (min-width: 1200px) {
    .footer-image {
        left: 39%;
    }
}

@media (min-width: 1450px) {
    .footer-image {
        left: 42%;
    }
}

.footer-right-rectangle {
    display: none;
    background-color: #CAE6E0;
    position: absolute;
    bottom: -57px;
    right: 0;
    height: 300px;
    width: 50%;
}

.footer-left-rectangle {
    display: none;
    background-color: #FFE9CD;
    position: absolute;
    bottom: -57px;
    left: -20px;
    height: 180px;
    width: 54%;
}

.footer-text-container {
    max-width: 900px;
    position: relative;
    bottom: 30px;
    padding: 40px 50px;
    margin: 0 auto 0 auto;
    animation: fadeIn 2s forwards;
}

.footer-text-container h1 {
    text-align: center;
}

.footer-text-container ul {
    display: block;
    left: 280px;
}

.footer-text-container i {
    margin-left: 10px;
}

.footer-mailto {
    text-align: center;
    position: static;
    top: 0;
    margin: 50px 0;
    display: block;
}

.footer-text-container li {
    text-align: center;
    min-width: 110px;
    cursor: pointer;
    list-style: none;
}

.footer-text-container ul a {
    max-width: 180px;
    text-align: left;
    display: block;
    padding: 10px 0;
    margin: auto;
    width: 107px;
}

@media (min-width: 550px) {
    footer {
        margin-top: 200px;
    }
    .footer-left-rectangle,
    .footer-right-rectangle {
        display: inline-block;;
    }
    .footer-text-container {
        overflow: auto;
        margin: 0 auto 30px auto;
    }
    .footer-text-container h1 {
        display: none;
    }
    .footer-text-container ul {
        float: right;
        margin-top: 32px;
        display: block;
    }
    .footer-text-container ul a {
        width: 100%;
    }
    .footer-text-container i {
        margin-left: 30px;
    }
    .footer-mailto {
        display: inline;
        position: relative;
        top: 153px;
        width: 50%;
        margin-top: 180px;
        margin-bottom: 0;
        text-align: left;
    }
}

@media (min-width: 1000px) {
    .footer-text-container {
        bottom: 300px;
        padding: 40px 20px;
    }
}

/* Animations ----------------------------------- */

.slideLeft {
    animation: slideLeft 0.5s forwards;
}

.slideRight {
    animation: slideRight 0.5s forwards;
}

.slideLeftSm {
    animation: slideLeftSm 0.2s forwards;
}

.slideRightSm {
    animation: slideRightSm 0.2s forwards;
}

.sway {
    animation: sway 2s infinite;
}
