html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Typography ---------- */
body {
    font-family: "Inconsolata", "Helvetica Neue", sans-serif;;
}

h1 {
    font-family: "heading", "Helvectica Neue", serif;
    font-size: 63px;
}

p {
    font-size: 14px;
}

li {
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.hero-container h1 {
    display: inline-block;
    padding: 0 8px 4px 8px;
    margin-top: 160px;
}

.hero-paragraph {
    background-color: #FFF;
    display: block;
    line-height: 1.9;
    margin: 0 auto 0 58%;
    max-width: 290px;
    padding: 3px 0 3px 8px;
    text-align: left;
}

/* Layout ---------- */

.outer-container {
    margin: 0 auto;
    /*max-width: 1400px;*/
}

.hero-container {
    height: 100vh;
    text-align: center;
    animation: fadein 3s;
}

header {
    padding: 50px 0 0 70px;
}

header p {
    text-align: left;
}

.hero-pink-rectangle {
    background-color: #FFE9CD;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;
    z-index: -99;
}

.left-hero-image {
    max-width: 275px;
    position: absolute;
    margin: auto;
    top: -100px;
    bottom: 0;
    right: 700px;
    left: 0;
    z-index: -1;
}

.center-hero-image {
    max-width: 370px;
    position: absolute;
    margin: auto;
    top: 200px;
    bottom: 0;
    right: 200px;
    left: 0;
    z-index: -1;
}

.right-hero-image {
    max-width: 320px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 300px;
    right: -640px;
    left: 0;
    z-index: -1;
}

.light-image {
    max-width: 56px;
    position: absolute;
    margin: auto;
    top: -50px;
    left: 0;
    right: 100px;
}

.diamonds-image {
    position: absolute;
    margin: auto;
    top: 400px;
    bottom: 0;
    left: 0;
    right: 590px;
}

.footer-image {
    position: relative;
    display: inherit;
    margin: auto;
}

.work-items-container h1 {
    margin-top: 100px;
    text-align: center;
}

.work-items-container ul {
    margin-bottom: 100px;
}

.work-items-container a {
    display: block;
}

.work-items-container li {
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 900px;
    list-style: none;
}

.work-items-container li span:nth-child(2n) {
    float: right;
}

.work-items-container i {
    padding-left: 30px;
}

.work-items-container a:hover {
    background-color: #eee;
}

footer {
    height: 200px;
    position: relative;
    display: block;
}
